# Supabase credentials
# You will replace the following placeholders with your real values.
#   https://supabase.com
SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_public_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# Additional env vars can be added here
